h1{
  font-size: 85px;
  color:turquoise

}
body{
  background-color: PURPLE

}
#Bio {
  background-color: #D7C1EA
}
p{
  font-size: 45px;
}
img{
  height: 500px;
  width: 800px;
}
#here {
  font-size: 35
}

#List {
  font-size: 150px;
  color: #40dbed
}
